extends ../layout

block content
  h1 Projekti
  a.btn.btn-primary(href="/projects/new") Novi projekt
  hr
  if projects.length
    table.table.table-striped
      thead
        tr
          th Naziv
          th Cijena
          th Početak
          th Kraj
          th Akcije
      tbody
        each p in projects
          tr
            td: a(href=`/projects/${p._id}`)= p.title
            td= p.price != null ? p.price.toFixed(2) : '-'
            td= p.startDate ? p.startDate.toDateString() : '-'
            td= p.endDate ? p.endDate.toDateString() : '-'
            td
              a.btn.btn-sm.btn-secondary(href=`/projects/${p._id}/edit`) Uredi
              form(action=`/projects/${p._id}?_method=DELETE`, method="post", style="display:inline")
                button.btn.btn-sm.btn-danger(type="submit") Obriši
  else
    p Nema dostupnih projekata.
